---
interface Props {
  href: string;
  variant?: 'primary' | 'secondary';
  ariaLabel?: string;
  class?: string;
}

const { href, variant = 'primary', ariaLabel, class: className } = Astro.props;
---

<a class:list={['button', `button--${variant}`, className]} href={href} aria-label={ariaLabel}>
  <slot />
</a>
